/* Général */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

/* Barre de navigation */
nav {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar-left {
  margin-right: auto;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
}

.navbar-right {
  margin-left: auto;
}

.navbar-logo {
  width: 40px;
  height: auto;
}

/* Boutons de la navbar */
.navbar-left img {
  margin-right: 10px;
}

.navbar-right button {
  margin-left: 10px;
  background-color: #1B0E14;
  color: #FFFFFF;
}

/* Barre de recherche */
.search-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.search-input {
  display: flex;
  align-items: center;
}

.search-input input[type="text"] {
  width: 300px;
  padding: 5px;
  margin-right: 10px;
  height: 24px;
}

.btn-search {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.search-filters select,
.search-filters label {
  margin-right: 10px;
}

/* Grille des biens disponibles */
.col-md-4 {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Ajout de la classe property-image pour redimentionner les images dans les grilles */
.property-image {
  width: 100%;
  height: 240px; /* Définir ici la hauteur souhaitée pour les images */
  object-fit: cover; /* Pour ajuster la taille de l'image en préservant les proportions */
}

/* Lien sans effet visuel */
a {
  text-decoration: none;
  color: inherit;
}

/* Lien sans soulignement au survol */
a:hover {
  text-decoration: none;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
}

footer div {
  display: flex;
  align-items: center;
}

footer div a {
  margin-right: 10px;
  color: #1B0E14;
  text-decoration: none;
}

footer div p {
  color: #1B0E14;
}
