<h1>New Booking</h1>

<%= simple_form_for [@booking] do |f| %>
  <%= f.input :date, required: true%>
  <%= f.submit "Submit your booking", class: "btn btn-primary" %>
<% end %>

<%= link_to "View all houses", '/houses'%>
